* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
}
.container {
  max-width: 800px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.imgcontainer {
  width: 30%;
  height: fit-content;
  background-color: white;
  padding: 10px;
  position: relative;
}
.imgcontainer img {
  width: 100%;
  cursor: pointer;
  position: relative;
}
#heart {
  position: absolute;
  font-size: 2rem;
  color: #ff001a;
  background: transparent;
  left: 50%;
  top: 50%;
  transition: all 2s linear;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
}
@media (max-width: 690px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }
  .imgcontainer {
    width: 80%;
  }
}
