* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
}
.container {
  max-width: 800px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.imgcontainer {
  width: 30%;
  height: fit-content;
  background-color: white;
  padding: 10px;
}
.imgcontainer img {
  width: 100%;
  cursor: pointer;
}
@media (max-width: 690px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }
  .imgcontainer {
    width: 80%;
  }
}
